body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    display: grid;
    place-items: center;

    background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Main card */
.container {
    width: 500px;
    padding: 40px;
    border-radius: 20px;

    background: white;
    text-align: center;

    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* Heading BIG */
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Inputs BIG */
input, textarea {
    width: 100%;
    padding: 15px;
    margin: 12px 0;

    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button BIG */
button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;

    border-radius: 10px;
    border: none;

    background: #667eea;
    color: white;
    font-size: 18px;
}

/* Records styling */
.record-box {
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
}

/* Links */
a {
    display: block;
    margin-top: 10px;
}